/*  Done in the project TNM084 at Linköping University 2015.
    by: Linnéa Mellblom. linme882
*/
html {
	color: white;
}
body {
  	height: 100%;
  	width: 100%;
  	padding:0px;
  	margin-left: auto;
  	margin-right: auto;
}

#info{
	clear: both;
	background-color: white;
}

#info .container {
	padding: 15px;
}


.jumbotron {
	padding: 10px;
	text-align: center;
	margin-bottom: 2px;
}

.fa-cog {
	cursor:default;
}

.fa-info {
	margin-right: 20px;
}


#glcanvas {
	padding: 0px;	
	border: 0px solid black;
  	width: 100%; 
  	height: 100%;
	float: left;
	margin-bottom:auto;
	margin-top:auto;
}

.smaller {
	font-size: 14px;

}

h1 {
	color: black !important;
	/*text-transform: uppercase;*/
	/*font-family: 'Josefin Sans', sans-serif;
	font-size: 40px;*/
}

.boldHeader {
	/*font-weight: bold;
	color: #FFB759;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	text-transform: uppercase;*/
}

.all-options {
	color: black !important;
}

#wrapper {
	overflow: hidden;
	background-color: white;
	height: 100%;
  	width: 100%;
}

#theCanvas{
	width: 50%;
	background-color: black !important;
}

#choices{
	margin:0px;
	padding: 15px;
	text-align: left;
	float: right;
	width: 50%;
	border: 0px solid white;
	background-color: white !important;
}
#choices select{
	width: 30px;
	color: black;
	text-align: center;
}


/* Landscape */
@media screen and (orientation:landscape) and (max-width: 700px) {
/* Landscape styles */
	h1 {
		font-size: 22px;
	}
		html {
		font-size: 10px !important;
		text-align: justify; !important;
	}
}

/* Portrait */
@media screen and (max-width: 700px) and (orientation:portrait) {
	#glcanvas {
		width: 98vw;
		height: 98vw;
		float: none;
		margin-bottom:auto;
		margin-top:auto;
	}
	#choices {
		width: 90vw;
		float: none;
		text-align: justify !important;
		margin-left: auto;
    	margin-right: auto;
    	background-color: white !important;
	}
	#theCanvas{
		width: 98vw;
	    margin-left: auto;
    	margin-right: auto;
	}
	h1 {
		font-size: 22px;
	}
	html {
		font-size: 10px !important;
		text-align: justify; !important;
	}

}